[submodule "dreamcoder"]
	path = dreamcoder
	url = git@github.com:CatherineWong/laps_dreamcoder
	branch = laps
[submodule "data/lax"]
	path = data/lax
	url = https://github.com/cogtoolslab/lax
	ignore = all
[submodule "stitch"]
	path = stitch
	url = git@github.com:mlb2251/stitch.git
	branch = zipper_redux
