*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.pyc
__pycache__
_build
*.cost
container.img
venv/
.DS_Store
compressionMessages/
experiments/
experiments_iterative/
.vscode
.ipynb_checkpoints