[submodule "dreamcoder"]
	path = dreamcoder
	url = https://github.com/CatherineWong/laps_dreamcoder
	ignore = all
[submodule "data/lax"]
	path = data/lax
	url = https://github.com/cogtoolslab/lax
	ignore = all
